@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');

:root {
  --container-height: 600px;
  --contaier-width: 550px;
  --header-height: 150px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', monospace;
}
html {
  font-size: 20px;
  background-color: rgb(65, 101, 143);
  background: linear-gradient(to right, rgb(12, 18, 46), rgb(63, 82, 167), rgb(22, 31, 78) )
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgb(143, 186, 236);
  width: var(--contaier-width);
  height: var(--container-height);
  border-radius: 10px 10px 10px 10px;

  position: relative;
  overflow: hidden;
}
header {
  width: 100%;
  height: var(--header-height);
  background-image: url('./background.png');
  background-size: cover;
  border-radius: 10px 10px 0 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.under-header{
  width: 100%;
  height: 50px;
  background-color: rgb(186, 210, 238);
}
.add-todo {
  width: 100%;
  height: 50px;
  padding: 0.25rem 0;
}
.add-todo form {
  display: flex;
  align-items: center;
}
.add-todo form input {
  flex: 1;
  height: 40px;
  background-color: transparent;
  border: none;
  border-right: 0px;
  outline: transparent;
  padding-left: 0.5rem;
  font-size: 1rem;
  color: rgb(11, 7, 68);
}
.add-todo form button {
  width: 60px;
  height: 40px;
  font-size: 1rem;
  background-color: transparent;
  color: rgb(11, 7, 68);
  border: none;
  border-left: 0px;
  cursor: pointer;
}
.add-todo form button:hover {
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
}

#todos-list {
  height: calc(var(--container-height) - var(--header-height));
  background-color: #fff;
  padding: 0.5rem;
  border: 1px solid rgb(219, 219, 219);
  overflow: scroll;
  border-radius: 0 0 5px 5px;
}

#todos-list .todo {
  display: flex;
  align-items: center;
  padding: 0.75rem 0.5rem;
  border-radius: 5px;
}
#todos-list .todo:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#todos-list .todo * {
  cursor: pointer;
  margin-right: 0.5rem;
}
#todos-list .todo i {
  font-size: 0.9rem;
}
#todos-list .todo p {
  flex: 1;
  word-break: break-all;
}
.checked {
  text-decoration: line-through;
  color: grey;
}
#todos-list .todo .bi-pen-fill {
  color: rgba(0, 0, 0, 0.8);
}
#todos-list .todo .bi-trash3-fill {
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}

.notification {
  position: absolute;

  width: calc(3 * var(--contaier-width) / 4);
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.9;

  border-radius: 8px;
  background-color: rgb(233, 81, 81);
  top: 10px;
  right: calc(-3 * var(--contaier-width) / 4);

  color: #fff;

  transition: 300ms right ease-in-out;
}

.notif-enter {
  right: 10px;
}